/* body{
    background: red;
} */
.backaground_image{
    background: url("../../assets/images/bg_jmg1.jpg") no-repeat;
    background-size: cover;
    filter: brightness(0.7);
    height: 340px;
}
.top-part{
    position: absolute;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers_img{
    background: url("https://plus.unsplash.com/premium_photo-1661948102098-440fc72976a7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat;
    background-size: cover;
    /* background-position: 0px -160px; */
    width: 100%;
    height: 250px;
    filter: hue-rotate(188deg) brightness(0.8);
}

@media only screen and (min-width:550px) {
    .backaground_image{
        /* background-position: 0px -120px; */
        background-size: cover;
    }
    .offers_img{
        background-position: 0px -70px;
        background-size: cover;
    }
}
@media only screen and (min-width:800px) {
    .backaground_image{
        /* background-position: 0px -220px; */
        background-size: cover;
    }
    .offers_img{
        background-position: 0px -140px;
        background-size: cover;
    }
}
@media only screen and (min-width:950px) {
    .offers_img{
        background-position: 0px -170px;
        background-size: cover;
    }
}
@media only screen and (min-width:1080px) {
    .backaground_image{
        /* background-position: 0px -320px; */
        background-size: cover;
    }
    .offers_img{
        background-position: 0px -220px;
        background-size: cover;
    }
}